In [1]:
import pandas as pd

In [21]:
# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline
# plt.style.use('fivethirtyeight')
# import warnings
# warnings.filterwarnings('ignore')

In [22]:
cancer_df=pd.read_csv("https://raw.githubusercontent.com/bethusaisampath/Haberman-Cancer-Survival-Dataset/master/haberman.csv")

In [23]:
cancer_df.columns=['Age','Operted_Yr','pstive_lymph_nodes','surv_status_after_5_yrs']
cancer_df.head()

   Age  Operted_Yr  pstive_lymph_nodes  surv_status_after_5_yrs
0   30          62                   3                        1
1   30          65                   0                        1
2   31          59                   2                        1
3   31          65                   4                        1
4   33          58                  10                        1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      305 non-null    int64
 1   Operted_Yr               305 non-null    int64
 2   pstive_lymph_nodes       305 non-null    int64
 3   surv_status_after_5_yrs  305 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

In [25]:
cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      305 non-null    int64
 1   Operted_Yr               305 non-null    int64
 2   pstive_lymph_nodes       305 non-null    int64
 3   surv_status_after_5_yrs  305 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

In [26]:
#changing the label and data type of our target feature i.e. survival_status
cancer_df['surv_status_after_5_yrs']=cancer_df['surv_status_after_5_yrs'].map({1:'Yes',2:'No'})
cancer_df['surv_status_after_5_yrs']=cancer_df['surv_status_after_5_yrs'].astype('category')
cancer_df.head(3)
new_df1=cancer_df.copy()
new_df1.head()

   Age  Operted_Yr  pstive_lymph_nodes surv_status_after_5_yrs
0   30          62                   3                     Yes
1   30          65                   0                     Yes
2   31          59                   2                     Yes
3   31          65                   4                     Yes
4   33          58                  10                     Yes

In [27]:
(cancer_df['surv_status_after_5_yrs'].value_counts()/cancer_df.shape[0])*100

Yes    73.442623
No     26.557377
Name: surv_status_after_5_yrs, dtype: float64